#account{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    width: 270px;
    

    *{
        display: block;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    #checkBoxPassword{
        display: inline;
    }
    .button{
        margin-top: 10px;
        width: 150px;
    }
}
