#historique{
    width: 100%;
    margin: 0;
}

#historiquePrincipal{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(10,50,10,0.75) ;
    border: solid 1px rgb(0,255,150);
    box-shadow: 0 0 5px rgb(0,255,150);
    border-radius: 5px;
    color: white;
    font-size: 0.9vw;
    padding: 10px;
    display: grid;
    grid-template-columns: 3% 20% 20% 25% 16% 16%;
    >:first-child{
        text-align: left;
    }
    >:last-child{
        text-align: right;
    }
}


#historiqueDetail{
    background-color: rgba(10,50,10,0.75) ;
    border: solid 1px rgb(0,255,150);
    box-shadow: 0 0 5px rgb(0,255,150);
    border-radius: 5px;
    color: white;
    font-size: 0.9vw;
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: 35% 20% 20% 25%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    >:first-child{
        text-align: left;
    }
    >:last-child{
        text-align: right;
    }
}